<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prediction.name %>
</p>

<p>
  <strong>Prediction:</strong>
  <%= @prediction.prediction %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
